<!-- template.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ data.get("header", {}).get("metadata", {}).get("htmltitle", "") }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css" />
  <!-- KaTeX for math rendering -->
  <script src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/contrib/auto-render.min.js" crossorigin="anonymous"></script>
  <!-- svg-pan-zoom for obvious reasons -->
  <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
  <!-- Hammer.js for touch controls -->
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
  <!-- Path data polyfill for SVG path manipulation -->
  <script src="https://cdn.jsdelivr.net/npm/path-data-polyfill@1.0.9/path-data-polyfill.min.js"></script>
  <style>
    body {
      font-family: "Computer Modern Serif", serif;
      font-size: 20pt;
      margin: 0;
      overflow: hidden;
    }

    /* KaTeX font size fix */
    .katex {
      font-size: 1em !important;
    }

    #canvas-container {
      width: 100vw;
      height: 100vh;
      position: absolute;
    }

/* Dynamically generated CSS styles */
{{ css_styles }}

    #tooltip {
      position: absolute;
      display: none;
      pointer-events: none;
      border-style: solid;
      border-width: 1px;
      padding: 5px;
      z-index: 10;
    }

    .tick {
      font-size: 12pt;
    }

    .x-tick {
      text-anchor: middle;
      dominant-baseline: hanging;
    }

    .y-tick {
      text-anchor: end;
      dominant-baseline: middle;
    }
  </style>
</head>

<!-- We set `visibility: visible` in JS after some preprocessing -->
<body style="visibility: hidden" class="backgroundStyle">
  <div id="canvas-container">
    <svg id="svg-canvas" width="100%" height="100%">
      <defs>
        <!-- Define the arrowhead markers -->
        <marker id='arrow-simple' orient="auto" markerWidth='3' markerHeight='4' refX='0.1' refY='2' fill="context-fill"
          stroke="context-stroke">
          <path d='M0,0 V4 L2,2 Z' />
        </marker>
        <!-- Define the grid pattern -->
        <pattern id="grid" width="{{ 2*spacing }}" height="{{ 2*spacing }}" patternUnits="userSpaceOnUse">
          <path id="grid-path" d="M {{ 2*spacing }} 0 L 0 0 0 {{ 2*spacing }}" class="grid" style="fill: none;"/>
        </pattern>
      </defs>
      <g id="content-group" class="svg-pan-zoom_viewport">
        <!-- Translate the grid so that it covers the appropriate region outside the first quadrant -->
        <g id="origin-translate" transform="translate({{ data.header.chart.width.min * spacing }} {{ -data.header.chart.height.min * spacing }})">
          <!-- Apply the grid pattern to a background rectangle -->
          <rect
            id="grid-background"
            width="{{ (data.header.chart.width.max - data.header.chart.width.min) * spacing }}px"
            height="{{ (data.header.chart.height.max - data.header.chart.height.min) * spacing }}px"
            fill="url(#grid)"
          />
        </g>
        <!-- Nodes and Edges generated statically by Python -->
        {{ static_svg_content }}
      </g>
      <g id="axes-group">
        <!-- X-axis -->
        <line id="x-axis" class="axis" />
        <!-- Y-axis -->
        <line id="y-axis" class="axis" />
        <!-- Blocks under and to the left to hide the content -->
        <rect id="x-block" x="0" y="0" class="backgroundStyle" />
        <rect id="y-block" x="0" y="0" class="backgroundStyle" />
        <!-- Tick marks. We use Jinja2 templating syntax to place them automatically -->
        <g id="ticks" class="tick">
          <g id="x-ticks" class="x-tick">
            {%- for i in range(data.header.chart.width.min, data.header.chart.width.max + 1, 2) %}
              <text x="{{ i * spacing }}" y="{{ 0.5 * spacing }}">{{ i }}</text>
            {%- endfor %}
          </g>
          <g id="y-ticks" class="y-tick">
            {%- for j in range(data.header.chart.height.min, data.header.chart.height.max + 1, 2) %}
              <text x="{{ 0.5 * spacing }}" y="{{ j * spacing }}">{{ j }}</text>
            {%- endfor %}
          </g>
        </g>
      </g>
    </svg>
  </div>
  <div id="tooltip" class="backgroundStyle"></div>
  <script>
    function applyFunctionToPath(path, fn) {
      let pathData = [];
      for (let seg of path.getPathData()) {
        if (seg.type === "M") {
          let [x, y] = seg.values;
          pathData.push({ type: "M", values: fn(x, y) });
        } else if (seg.type === "L") {
          let [x, y] = seg.values;
          pathData.push({ type: "L", values: fn(x, y) });
        } else if (seg.type === "C") {
          let [x1, y1, x2, y2, x, y] = seg.values;
          pathData.push({ type: "C", values: [...fn(x1, y1), ...fn(x2, y2), ...fn(x, y)] });
        } else if (seg.type === "Q") {
          let [x1, y1, x, y] = seg.values;
          pathData.push({ type: "Q", values: [...fn(x1, y1), ...fn(x, y)] });
        }
      }
      path.setPathData(pathData);
    }

    function applyFunctionToElement(element, attributeName, fn) {
      const currentValue = parseFloat(element.getAttribute(attributeName));
      element.setAttribute(attributeName, fn(currentValue));
    }

    const applyOffsetToElement = (element, attributeName, offset) => {
      applyFunctionToElement(element, attributeName, (value) => value + offset)
    };

    const negateValueInElement = (element, attributeName) => {
      applyFunctionToElement(element, attributeName, (value) => -value)
    };

    const applyYOffsetToPath = (path, offset) => {
      applyFunctionToPath(path, (x, y) => [x, y + offset])
    };

    const negateYValuesInPath = (path) => {
      applyFunctionToPath(path, (x, y) => [x, -y])
    };

    window.addEventListener("DOMContentLoaded", () => {
      var canvasHeight = 0;
      var canvasWidth = 0;
      const spacing = {{ spacing }};
      const axisSpacing = 0.6 * spacing;

      const half_grid_width = parseFloat(window.getComputedStyle(document.getElementById("grid-path")).strokeWidth) / 2;

      // Displace the gridlines slightly. If we don't do this, the gridlines will appear to be
      // at half thickness because of clipping.
      applyFunctionToPath(document.getElementById("grid-path"), (x, y) => [x + half_grid_width, y + half_grid_width]);

      // Negate all y-coordinates:

      // - all elements in content-group
      document
        .querySelectorAll("#content-group *")
        .forEach((element) => {
          if (element.tagName === "line") {
            negateValueInElement(element, "y1");
            negateValueInElement(element, "y2");
          } else if (element.tagName === "circle") {
            negateValueInElement(element, "cy");
          } else if (element.tagName === "path") {
            negateYValuesInPath(element);
          }
        });

      // - axes
      document
        .querySelectorAll("#axes-group line")
        .forEach((element) => {
          if (element.id === "x-axis") {
            element.setAttribute("x1", axisSpacing);
            element.setAttribute("y1", -axisSpacing);
            element.setAttribute("x2", canvasWidth);
            element.setAttribute("y2", -axisSpacing);
          } else if (element.id === "y-axis") {
            element.setAttribute("x1", axisSpacing);
            element.setAttribute("y1", -axisSpacing);
            element.setAttribute("x2", axisSpacing);
            element.setAttribute("y2", canvasHeight);
          }
        });

      // - axis blocks
      document
        .querySelectorAll("#axes-group rect")
        .forEach((element) => {
          if (element.id === "x-block") {
            element.setAttribute("width", canvasWidth);
            element.setAttribute("height", axisSpacing);
            element.setAttribute("y", -axisSpacing);
          } else if (element.id === "y-block") {
            element.setAttribute("width", axisSpacing);
            element.setAttribute("height", 0);
          }
        });

      // - ticks
      document
        .querySelectorAll("#axes-group text")
        .forEach((element) => {
          negateValueInElement(element, "y");
        });

      // Handler for resizing the canvas. Adjusts all y-values by comparing the
      // new and old canvas sizes. Since we have already negated all y-values,
      // we only need to add an offset everywhere.
      function onResize() {
        const newCanvasHeight = document.documentElement.clientHeight;
        const newCanvasWidth = document.documentElement.clientWidth;
        const xOffset = newCanvasWidth - canvasWidth;
        const yOffset = newCanvasHeight - canvasHeight;

        // Adjust y-values for all elements in content-group
        document
          .querySelectorAll("#content-group *")
          .forEach((element) => {
            if (element.tagName === "line") {
              applyOffsetToElement(element, "y1", yOffset);
              applyOffsetToElement(element, "y2", yOffset);
            } else if (element.tagName === "circle") {
              applyOffsetToElement(element, "cy", yOffset);
            } else if (element.tagName === "path") {
              applyYOffsetToPath(element, yOffset);
            }
          });

        // Adjust y-value for grid transformation. We also undo the displacement we applied earlier
        document
          .getElementById("grid-background")
          .setAttribute(
            "transform",
            `scale(1 -1) translate(${-half_grid_width} ${-half_grid_width}) translate(0 ${-newCanvasHeight})`
          );

        // Put in end values for axes and apply y-flip
        document
          .querySelectorAll("#axes-group line")
          .forEach((element) => {
            if (element.id === "x-axis") {
              applyOffsetToElement(element, "y1", yOffset);
              applyOffsetToElement(element, "x2", xOffset);
              applyOffsetToElement(element, "y2", yOffset);
            } else if (element.id === "y-axis") {
              applyOffsetToElement(element, "y1", yOffset);
            }
          });

        // Do the same for axis blocks
        document
          .querySelectorAll("#axes-group rect")
          .forEach((element) => {
            if (element.id === "x-block") {
              applyOffsetToElement(element, "width", xOffset);
              applyOffsetToElement(element, "y", yOffset);
            } else if (element.id === "y-block") {
              applyOffsetToElement(element, "height", yOffset);
            }
          });

        // And ticks
        document
          .querySelectorAll("#axes-group text")
          .forEach((element) => {
            applyOffsetToElement(element, "y", yOffset);
          });
        
        // Reset pan, then pan slightly so the origin is visible
        window.panZoom.reset();
        window.panZoom.panBy({ x: 2 * axisSpacing, y: -2 * axisSpacing });

        canvasHeight = newCanvasHeight;
        canvasWidth = newCanvasWidth;
      }
      window.addEventListener("resize", onResize);

      // Handler to zoom axes when grid is zoomed
      function handleCTM(ctm) {
        const scale = ctm.a;
        const xTranslate = ctm.e;
        const yTranslate = ctm.f;

        document.querySelectorAll("#x-ticks").forEach((element) => {
          element.setAttribute("transform", `translate(${xTranslate} 0)`);
        });
        document.querySelectorAll("#x-ticks text").forEach((element) => {
          const xCoord = parseInt(element.textContent) * spacing;
          element.setAttribute("x", xCoord * scale);
        });
        document.querySelectorAll("#y-ticks").forEach((element) => {
          element.setAttribute("transform", `translate(0 ${yTranslate})`);
        });
        document.querySelectorAll("#y-ticks text").forEach((element) => {
          const yCoord = parseInt(element.textContent) * spacing;
          element.setAttribute("y", (canvasHeight - yCoord) * scale);
        });
      }

      // Initialize Hammer.js for touch controls.
      // Taken from https://github.com/bumbu/svg-pan-zoom/blob/master/demo/mobile.html
      const hammerEventsHandler = {
        haltEventListeners: ['touchstart', 'touchend', 'touchmove', 'touchleave', 'touchcancel'],
        init: function(options) {
          var instance = options.instance
            , initialScale = 1
            , pannedX = 0
            , pannedY = 0

          // Init Hammer
          // Listen only for pointer and touch events
          this.hammer = Hammer(options.svgElement, {
            inputClass: Hammer.SUPPORT_POINTER_EVENTS ? Hammer.PointerEventInput : Hammer.TouchInput
          })

          // Enable pinch
          this.hammer.get('pinch').set({enable: true})

          // Handle double tap
          this.hammer.on('doubletap', function(ev){
            instance.zoomAtPoint(ev.center.x, ev.center.y)
          })

          // Handle pan
          this.hammer.on('panstart panmove', function(ev){
            // Fix https://github.com/hammerjs/hammer.js/issues/1134 using
            // https://github.com/hammerjs/hammer.js/issues/871#issuecomment-179143062
            if (Date.now() - lastPinchTime < 200) {
              console.log("Ignored pan after pinch!");
              return;
            }

            // On pan start reset panned variables
            if (ev.type === 'panstart') {
              pannedX = 0
              pannedY = 0
            }

            // Pan only the difference
            instance.panBy({x: ev.deltaX - pannedX, y: ev.deltaY - pannedY})
            pannedX = ev.deltaX
            pannedY = ev.deltaY
          })

          // Handle pinch
          var lastPinchTime;
          this.hammer.on('pinchstart pinchmove', function(ev){
            lastPinchTime = Date.now();
            // On pinch start remember initial zoom
            if (ev.type === 'pinchstart') {
              initialScale = instance.getZoom()
              instance.zoomAtPoint(initialScale * ev.scale, {x: ev.center.x, y: ev.center.y})
            }

            instance.zoomAtPoint(initialScale * ev.scale, {x: ev.center.x, y: ev.center.y})
          })

          // Prevent moving the page on some devices when panning over SVG
          options.svgElement.addEventListener('touchmove', function(e){ e.preventDefault(); });
        },
        destroy: function(){
          this.hammer.destroy()
        }
      }

      // Initialize svg-pan-zoom for panning and zooming
      window.panZoom = svgPanZoom("#svg-canvas", {
        zoomEnabled: true,
        panEnabled: true,
        fit: false,
        center: false,
        minZoom: 0.1,
        maxZoom: 10,
        zoomScaleSensitivity: 0.15,
        onUpdatedCTM: handleCTM,
        customEventsHandler: hammerEventsHandler,

      });

      onResize();

      // Show the SVG after y-values are adjusted
      document.body.style.visibility = "visible";

      window.addEventListener("keydown", function (event) {

        const panSpeed = spacing;
        switch (event.key) {
          // Add arrow key controls for panning
          case "ArrowUp":
            event.preventDefault();
            window.panZoom.panBy({ x: 0, y: panSpeed });
            break;
          case "ArrowDown":
            event.preventDefault();
            window.panZoom.panBy({ x: 0, y: -panSpeed });
            break;
          case "ArrowLeft":
            event.preventDefault();
            window.panZoom.panBy({ x: panSpeed, y: 0 });
            break;
          case "ArrowRight":
            event.preventDefault();
            window.panZoom.panBy({ x: -panSpeed, y: 0 });
            break;
          // Add + and - key controls for zooming
          case "+":
          case "=":
            event.preventDefault();
            window.panZoom.zoomIn();
            break;
          case "-":
          case "_":
            event.preventDefault();
            window.panZoom.zoomOut();
            break;
          // Add controls for resetting pan and zoom
          case "Backspace":
          case "0":
          case ")":
            event.preventDefault();
            onResize();
            break;
        }
      });

      // Add hover events to nodes for tooltips
      document.querySelectorAll("circle").forEach((node) => {
        node.addEventListener("mouseover", function (event) {
          const label = this.getAttribute("data-label");
          if (label) {
            tooltip.innerHTML = label;
            window.renderMathInElement(tooltip, {
              delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false},
                {left: '\\[', right: '\\]', display: true}
              ],
              throwOnError : false
            });
            tooltip.style.display = "block";
          }
        });
        node.addEventListener("mousemove", function (event) {
          tooltip.style.left = event.clientX + 10 + "px";
          tooltip.style.top = event.clientY + 10 + "px";
        });
        node.addEventListener("mouseout", function (event) {
          tooltip.style.display = "none";
        });
      });
    });
  </script>
</body>

</html>